.dashboardGrid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 25px;
    margin-bottom: 30px;
}

@media (max-width: 1024px) {
    .dashboardGrid {
        grid-template-columns: 1fr;
    }
}